
@model BookInspector.Models.Catalog.CatalogIndexModel

<div class="container">
    <div class="row">

        <br><br>
        <div class="col-sm-12 text-center" id="footer-buttons">

            <a asp-controller="Catalog" asp-action="Download"
               class="btn btn-primary pull-left" id="export-movies-btn">
                Export Catalog To PDF
                <span class="glyphicon glyphicon-cloud-download"></span>
            </a>
        </div>
        <br>
    </div>
</div>

<h2>Category: @ViewData["Category"]</h2>

<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var book in Model.BooksList)
        {
            <tr>
                <td>
                    <img src="@book.ImageURL" alt="" height="150" width="115">
                </td>
                <td>
                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@book.Id">
                        <h4><strong>@book.Title</strong></h4>
                    </a>
                    <p> <font color="#337ab7"><strong>Description:</strong></font> @book.ShortDescription</p>
                    <p>
                        <font color="#337ab7"><strong>Category: </strong></font>
                        @foreach (var category in book.Categories)
                        {
                            <a asp-controller="Catalog" asp-action="Category" asp-route-category="@category.CategoryName">
                                @category.CategoryName
                            </a>
                        }
                    </p>
                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary pull-left">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>




