
@model BookInspector.Models.Catalog.DetailsIndexModel
@{
    ViewBag.Title = @Model.Title;
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Details</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img class="detailImage" src="@Model.ImageURL" alt="" height="400"  />
                </div>
            </div>
            <div class="col-md-4">
                <h3 id="itemTitle"><strong><font color="#5f93e8">@Model.Title</font></strong></h3>
                <h5><strong>Publisher:</strong> @Model.Publisher</h5>

            </div>
            <div class="col-md-4 detailInfo">
                <br>
                <strong>Other book details</strong>
                <br><br>
                <table>
                    <tr>
                        <td class="itemLabel"><strong>Publisher: </strong></td>
                        <td class="itemValue">@Model.Publisher</td>
                    </tr>
                    <tr>
                        <td class="itemLabel"><strong>Publish Date: </strong></td>
                        <td class="itemValue">@Model.PublishedDate</td>
                    </tr>
                    <tr>
                        <td class="itemLabel"><strong>Category: </strong></td>
                        <td class="itemValue">
                            @foreach (var category in @Model.Categories)
                            {
                                <span>@category</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="itemLabel"><strong>Authors: </strong></td>
                        <td class="itemValue">
                            @foreach (var author in @Model.Authors)
                            {
                                <span>@author</span>
                            }
                        </td>
                    <tr>
                        <td class="itemLabel"><strong>Description: </strong></td>
                        <td class="itemValue">@Model.Description</td>
                    </tr>
                    <tr>
                        <td><a href=@Model.PreviewLink><strong>Get a book preview</strong></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


