
@model BookInspector.Models.Catalog.CatalogIndexModel

    <h3>Library Catalog</h3>

    <table class="table table-hover" id="forumIndexTable">
        <tbody>
            @foreach (var book in Model.BooksList)
            {
                <tr>
                    <td>
                        <img src="@book.ImageURL" alt="" height="150" width="115">
                    </td>
                    <td>
                        <a asp-controller="Catalog" asp-action="Details" asp-route-id="@book.Id">
                            <h4><strong>@book.Title</strong></h4>
                        </a>
                        @*<p><strong>Publisher:</strong> @book.Publisher</p>*@
                        <p><strong>Publish Date:</strong> @book.PublishedDate</p>
                        <p><strong>Description:</strong> @book.ShortDescription</p>                       
                        <p><strong>Authors:</strong></p>
                        @foreach (var author in @book.AuthorNames)
                        {
                            <p> @author</p>
                        }
                    </td>
                    <td>
                        @book.Category
                    </td>
                </tr>
            }
        </tbody>
    </table>
